@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif&display=swap");

:root {
  --dark-brown: #8E3200;
  --light-brown: #A64B2A;
  --dark-green: #51af5e;
  --light-green: #51af5e;
  --shadow: 0 19px 38px rgba(0,0,0,0.30),
            0 15px 12px rgba(0,0,0,0.22);
}


body {
  font-family: "Roboto Serif", serif;
  counter-reset: game;
  margin: 0;
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}

.phone {
  position: relative;
  border: 8px solid black;
  border-radius: 40px;
  height: 600px;
  width: 300px;
  background-image: linear-gradient(
    to right top,
    #6bd1be,
    #6fd5c6,
    #73d8ce,
    #78dcd6,
    #7edfdd,
    #7bdfe2,
    #79dfe7,
    #78dfec,
    #6fdbf0,
    #67d7f4,
    #62d3f8,
    #5fcefb
  );
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.3);
}

.oreja-izquierda--externa {
  background-color: gray;
  border-radius: 90%;
  width: 20px;
  height: 50px;
  position: absolute;
  left: 10px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.3);
}

.oreja-izquierda--interna {
  background-color: pink;
  border-radius: 90%;
  width: 10px;
  height: 40px;
  position: absolute;
  top: 10px;
  left: 15px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.3);
}
.oreja-derecha--externa {
  background-color: gray;
  border-radius: 90%;
  width: 20px;
  height: 50px;
  position: absolute;
  right: 10px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.3);
}

.oreja-derecha--interna {
  background-color: pink;
  border-radius: 90%;
  width: 10px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 15px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.3);
}

.cabeza {
  background-color: gray;
  border-radius: 50px;
  height: 80px;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  top: 30px;
  width: 100%;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.3);
}

.cabeza__ojo {
  background-color: black;
  border-radius: 50%;
  height: 6px;
  width: 6px;
  position: absolute;
  top: 15px;
  animation-name: parpadeo;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.3);
}

@keyframes parpadeo {
  0% {
    height: 8px;
  }
  5% {
    transform: translate(0px, 2px);
    height: 1px;
  }
  10% {
    transform: translate(0px, 0px);
    height: 8px;
  }
}

.cabeza__ojo--izquierda {
  left: 27px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.3);
}
.cabeza__ojo--derecha {
  right: 27px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.3);
}

.capa1 {
  position: absolute;
  z-index: 1;
  height: 450px;
  width: 80px;
  background-color: transparent;
  bottom: 0;
  right: 60px;
  
}

.capa2 {
  position: absolute;
  z-index: 2;
  height: 450px;
  width: 80px;
  background-color: transparent;
  bottom: 0;
  left: 60px;
}
.capa3 {
  position: absolute;
  border-radius: 20px;
  z-index: 3;
  left: 0;
  overflow: hidden;
  right: 0;
  margin: 0 auto;
  width: 220px;
  height: 400px;
  background: var(--light-brown);
  bottom: 0;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.3);
}
.capa4 {
  position: absolute;
  z-index: 4;
  height: 330px;
  width: 80px;
  background-color: transparent;
  bottom: 0;
  left: 10px;
}
.capa5 {
  position: absolute;
  z-index: 5;
  border-radius: 20px;
  overflow: hidden;
  left: 0;
  right: 100px;
  margin: 0 auto;
  width: 200px;
  height: 280px;
  background: var(--light-brown);
  bottom: 0;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.3);
}
.capa6 {
  position: absolute;
  z-index: 6;
  height: 220px;
  width: 80px;
  background-color: transparent;
  bottom: 0;
  right: 40px;
}
.capa7 {
  overflow: hidden;
  position: absolute;
  z-index: 7;
  border-radius: 20px;
  overflow: hidden;
  right: 0;
  margin: 0 auto;
  width: 150px;
  height: 170px;
  background: var(--light-brown);
  bottom: 0;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.3);
}
.capa8 {
  bottom: 0;
  height: 100px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  z-index: 8;
  right: 0;
  width: 200px;
}

.capa8_izq{
  background-color: var(--dark-green);
  border-radius: 40px 40px 0 0;
  bottom: 0;
  display: inline-block;
  height: 70%;
  left: 0;
  position: absolute;
  width: 80px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.3);
}

.capa8-centro{
  background-color: var(--dark-green);
  border-radius: 40px 40px 0 0;
  bottom: 0;
  display:inline-block;
  height: 100%;
  left: 60px;
  position: absolute;
  width: 80px;
}

.capa8-der{
  background-color: var(--dark-green);
  border-radius: 40px 40px 0 0;
  bottom: 0;
  display: inline-block;
  height: 80%;
  left: 130px;
  position: absolute;
  width: 80px;
}
.capa9 {
  position: absolute;
  z-index: 9;
  width: 100px;
  height: 90px;
  bottom: 0;
}


.capa9-izq{
  background-color: white;
  border-radius: 40px 40px 0 23px;
  bottom: 0;
  display:inline-block;
  height: 100%;
  position: absolute;
  width: 80px;
}

.capa9-der{
  background-color: white;
  border-radius: 0 40px 30px 0;
  bottom: 0;
  display:inline-block;
  height: 60%;
  left: 80px;
  position: absolute;
  width: 40px;
}
.capa10 {
  position: absolute;
  z-index: 10;
  margin: 0 auto;
  width: 100px;
  height: 80px;
  right: 0;
  bottom: 0;

}

.capa10-izq{
  background: white;
  border-radius: 40px 0 0 30px;
  bottom: 0;
  display: inline-block;
  height: 60%;
  right: 80px;
  position: absolute;
  width: 40px;
}

.capa10-der{
  background: white;
  border-radius: 40px 40px 23px 0;
  display: inline-block;
  height: 100%;
  right: 0px;
  position: absolute;
  width: 80px;
}

.lawn {
  background: var(--dark-green);
  height: 20px;
  width: 100%;
}

.land {
  background: linear-gradient(135deg, var(--dark-green) 25%, transparent 25%) -50px 0,
              linear-gradient(-135deg, var(--dark-green) 25%, transparent 25%) -50px 0,
              linear-gradient(45deg, var(--light-brown) 25%, transparent 25%),
              linear-gradient(-45deg, transparent 25%, var(--dark-brown) 25%);
  background-size: 33px 30px;
  height: 30px;
  width: 100%;
}

/* Animaciones */

.capa1 input[type=checkbox]{

}